body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.root {
    height: calc(100vh - 4rem);
    display: grid;
    grid-template-rows: auto 1fr;
    overflow: hidden;
}
main {
    display:grid;
    grid-template-columns: 20% 1fr;
    gap:15px;
    position: relative;
    overflow: hidden;
}
article {
    height: 100%;
    overflow: auto;
}
.modal {
    background-color: #000000a0;
    color:#fff;
    font-size: 2.5rem;
    text-align: center;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:2;
}
dialog {
    font-size: 1.25rem;
}
dialog > pre {
    max-height: 32vh;
    overflow: auto;
}
.quote-collection{
    display: grid;
    gap: 10px;
    content-visibility: auto;
}
.quotes {
    grid-template-columns:repeat(5, 1fr);
}
.pick {
    height: 100%;
    overflow: auto;
}
.pick-quotes {
    height: calc(100% - 1.5rem);
}
.pick-list {
    margin:.4rem .8rem;
    max-height:calc(100% - 5.5rem);
    overflow: auto;
}
.pick-limit-full {
    color:red;
    font-weight: bold;
}
.searchbar {
    padding:1.2rem .6rem;
}
input {
    padding:.24rem .6rem;
    font-size:1.1rem
}
.pick-generator {
    margin-left:.6rem;
    margin-top:.4rem;
}
.quote-collection a {
    background-color: lightgoldenrodyellow;
    color: black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding:.4rem .6rem;
    text-decoration: none;
    border-radius: 5px;
    border:1px solid goldenrod;
    height:1.5rem;
}
a:hover, a:focus {
    border:1px solid palevioletred;
    background-color: lightyellow;
}
.pick-autochat label{
    display: block;
}
.toggler {
    font-size:1.1rem;
    padding:.2rem .6rem;
    background-color: lightcyan;
}
.toggler:hover {
    background-color: lightskyblue;
}
@media screen and (max-width:1250px) {
    main {
        display: flex;
        flex-direction: column-reverse;
    }
    .pick {
        bottom:0;
        background: #fffffff0;
        overflow: visible;
        height: min-content;
    }
    .pick-list {
        grid-template-columns:repeat(5, 1fr);
        max-height: 7rem;
    }
    .pick-autochat label{
        display:inline-block;
    }
}