body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main {
    display:grid;
    grid-template-columns: 20% 1fr;
    gap:15px;
    position: relative;
}
.modal {
    background-color: #000000a0;
    color:#fff;
    font-size: 2.5rem;
    text-align: center;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}
dialog {
    font-size: 1.25rem;
}
.quote-collection{
    display: grid;
    gap: 10px;
}
.quotes {
    grid-template-columns:repeat(5, 1fr);
}
.pick-list {
    grid-template-columns:1;
    margin:.4rem .8rem;
}
.pick-limit-full {
    color:red;
    font-weight: bold;
}
.searchbar {
    padding:1.2rem .6rem;
}
input {
    padding:.24rem .6rem;
    font-size:1.1rem
}
.pick-generator {
    margin-left:.6rem;
    margin-top:.4rem;
}
.quote-collection a {
    background-color: lightgoldenrodyellow;
    color: black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding:.4rem .6rem;
    text-decoration: none;
    border-radius: 5px;
    border:1px solid goldenrod;
}
@media screen and (max-width:1250px) {
    main {
        display: flex;
        flex-direction: column-reverse;
    }
    .pick {
        position: sticky;
        bottom:0;
        background: #fffffff0;
        padding:1.6rem .8rem;
    }
    .pick-list {
        grid-template-columns:repeat(5, 1fr);
    }
}