body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:black;
}
table {
    border-collapse: collapse;
}
th {
    padding: .2rem .26rem;
}
table:not(.custom) th {
    border: 1px solid cornflowerblue;
    color:navy;
}
table:not(.custom) > tbody tr:nth-child(even) {
    background-color: aliceblue;
}
table:not(.custom) > tbody tr:nth-child(odd) {
    background-color: lavender;
}
table:not(.custom) td {
    border:1px solid plum;
}
td {
    padding: .18rem .22rem;
}
table:not(.custom) > thead {
    background-color:thistle; 
}
footer {
    text-align: center;
    background: whitesmoke;
    padding: 1.5rem;
}
footer a {
    font-size:1.2rem;
    color:darkslateblue;
    font-weight: bold;
}
footer a:focus, footer a:hover, footer a:active {
    color:blueviolet;
    background-color: aquamarine;
}