body {
    font-family:'Segoe UI', Tahoma, Geneva, sans-serif
}
.layout-sections {
    display: grid;
    grid-template-columns: 1fr 5rem 1fr;
    margin: 1.8rem 0;
}
section {
    display: flex;
    flex-direction: column;
}
.section-translation {
    gap: 0.8rem;
}
.section-button {
    justify-content: start;
    align-items: center;
    margin-top: 0.25rem;
}
.tr-lang {
    height:1.5rem;
}
input {
    font-size: 1rem;
    padding: 0.4rem 0.6rem;
}
.tr-convert {
    height:4rem;
    width:2.5rem;
}
.tr-result:not(:empty) {
    border: 1px solid #808080;
    background-color: rgba(128, 128, 128, 0.1);
}
.tr-result > p {
    margin: 0.4rem 0.6rem;
}
footer {
    margin-top:3.5rem;
    font-size:0.9rem;
}
input[type=radio]:checked {
    background-color: rgba(100,100,140,0.15);
}
input[type=radio]:hover {
    border:1px solid rgba(150,150,150,0.5);
}
input[type=radio] {
    padding: 0.2rem 1rem;
    cursor: pointer;
    border: 1px solid transparent;
}
.layout-nav label {
    position: relative;
    width: 5rem;
    display: inline-block;
    text-align: center;
    padding: 0.4rem 0;
}
.layout-nav label > input[type=radio] {
    appearance: none;
    position: absolute;
    top:0;left:0;right:0;bottom:0;
    margin: 0;
    padding: 0;
}
header details {
    margin: 1.2rem 1.6rem 1.8rem;
}
@media (max-aspect-ratio:1/1) {
    .layout-sections {
        grid-template-rows: 1fr 5rem 1fr;
        grid-template-columns: none;
    } 
    .tr-convert {
        height: 2.5rem;
        width:6rem;
    }
    .section-button {
        justify-content: center;
    }
}